@import url('reset.css');

body {
	display: flex;
	flex-direction: column;

	/* I hate this. Chrome needs a value for the parent object's height and width. */
	width: 100vw;
	height: 100vh;
}
@media print {
	body {
		overflow: visible;
	}
}
@media screen {
	body {
		overflow: hidden;
	}
}

.flexRow {
	display: flex;
	flex-direction: row;
}
.flexColumn {
	display: flex;
	flex-direction: column;
}
[row] {
	display: flex;
	flex-direction: row;
}
[column] {
	display: flex;
	flex-direction: column;
}

[start] {
	justify-content: start;
}

[between] {
	justify-content: space-between;
}

[end] {
	justify-content: end;
}

/* Classes for the weird ones don't get their own attributes */
.flexJCSpaceBetween{
	justify-content: space-between;
}
.flexJCSpaceEvenly{
	justify-content: space-evenly;
}
.flexAISpaceBetween{
	align-items: space-between;
}
.flexAISpaceEvenly{
	align-items: space-evenly;
}

.flexSticky {
	position: sticky;
	align-self: flex-start;
	top: 0;
}
/* I'm doing the rest of them, just give me a second. */

/* Using !important is ugly, but these will be used on a per element basis, so it doesn't matter. */
[grow] {
	flex-grow: 1 !important;
	/* attr isn't supported by any browsers at the moment
	flex-grow: attr(grow, 1);
	*/
}
[nogrow] {
	flex-grow: 0 !important;
	/* attr isn't supported by any browsers at the moment
	flex-grow: attr(grow, 1);
	*/
}
[shrink] {
	flex-shrink: 1 !important;
	/* attr isn't supported by any browsers at the moment
	flex-grow: attr(shrink, 1);
	*/
}
[noshrink] {
	flex-shrink: 0 !important;
	/* attr isn't supported by any browsers at the moment
	flex-grow: attr(shrink, 1);
	*/
}

/* pad acts as the div for the padding space in "space around"
	In full FlexML, I'd imagine you could use this for 
*/
[pad] {
	flex: 0 0 0;
}
[column] > [pad] {
	width: 100%;
}
[row] > [pad] {
	width: 100%;
}
/* In order for this trick to work in HTML, you have to make the parent flexbox justify-content: space-between */
:has( [pad] ) {
	justify-content: space-between;
}
